<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>755144957313-sebgedj9ppja43ofv265g4efvv2mp8l3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755144957313-sebgedj9ppja43ofv265g4efvv2mp8l3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>755144957313-kk6618cqcvc1iaa6dlpl4795vnd2th5i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ8Td2Xv6-U1eIdUa831b0OOkHXqaH7Ck</string>
	<key>GCM_SENDER_ID</key>
	<string>755144957313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codezero.quizapp</string>
	<key>PROJECT_ID</key>
	<string>quizapp-a6cc12</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-a6cc12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755144957313:ios:c583640fa41d1c0db61c80</string>
</dict>
</plist>